$slot-size: 250px;

.slot {
  @apply relative;
  display: inline-block;
  height: 100px;
  width: $slot-size;
}

.slotWrapper {
  @apply absolute border rounded-2xl overflow-hidden h-16 bg-white;
  line-height: 54px;
  width: inherit;
}

.container {
  @apply absolute top-1 w-full text-center;
  transition: top ease-in-out 0.5s;
  width: inherit;
  height: 70px;
}

.roll {
  @apply border rounded-full bg-indigo-700 w-28 shadow-lg px-3 py-2;
}

.rolling {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: white;
  }
  49% {
    color: white;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: white;
  }
}